<div class="form-group" align=center>

  <label  >Enter the new description.</label>
  <div class="input-group">
    <div class="input-group-append">

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <textarea 
        placeholder="New Description"
        [(ngModel)]=newDescription
        >
      </textarea>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <button 
        type="submit" 
        class="btn btn-danger btn-sm" 
        (click)="yes()"
        >
        Update
      </button>
    </div>
  </div>
</div>
