<div class="view">

  <label 
    *ngIf="!isEditing" 
    (dblclick)="isEditing = true"
    >
    {{todo.title}}
  </label>

  <input
    (blur)="isEditing = false"
    *ngIf="isEditing"
    [(ngModel)]="todo.title"
  />

  <br />

  <select [(ngModel)]="todo.status" name="status">
    <!--    <option *ngFor="let status of statuses" 
            [value]="status">{{ status }} </option>     -->
    <option value="Todo">Todo</option>
    <option value="Doing">Doing</option>
    <option value="Done">Done</option>
  </select>

  <div class="float-right">
    <button
      type="button"
      (click)="deleteTodo(todo)"
      class="btn btn-danger btn-sm"
    >
      Delete
    </button>
    &nbsp;
    <button
      type="button"
      (click)="editTodo(todo)"
      class="btn btn-danger btn-sm"
    >
      Edit
    </button>
  </div>
</div>
